@import 'tailwindcss';

@theme {
  --color-sky-blue: #03a9f4;
  --color-stormy-blue: #3b7893;
  --color-royal-purple: #4c44ce;
  --color-royal-blue: #332da9;
  --color-midnight-blue: #23205d;
  --color-dark-violet: #1e1a67;
  --color-navy-blue: #19243a;
  --color-dark-burgundy: #100e35;
  --color-blue-black: #0a1123;
  --color-snow-white: #ffffff;
  --color-ivory-white: #fffff0;
  --color-light-gray: #adadad;
  --color-mate-gray: #c9c9c9;
}
