@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-sky-blue: #03a9f4;
  --color-stormy-blue: #3b7893;
  --color-ashen-purple: #7a78a7;
  --color-royal-purple: #4c44ce;
  --color-royal-blue: #332da9;
  --color-midnight-blue: #23205d;
  --color-midnight-blue-op-40: #23205d40;
  --color-dark-violet: #1e1a67;
  --color-dark-violet-op-60: #1e1a6760;
  --color-navy-blue: #19243a;
  --color-navy-blue-op-40: #19243a40;
  --color-galatic-blue: #1d1b39;
  --color-dark-burgundy: #100e35;
  --color-dark-burgundy-op-60: #100e3560;
  --color-dark-burgundy-op-80: #100e3580;
  --color-blue-black: #0a1123;

  --color-blood-red: #962325;

  --color-snow-white: #ffffff;
  --color-snow-white-op-70: #ffffff70;
  --color-ivory-white: #fffff0;
  --color-light-gray: #adadad;
  --color-light-gray-op-40: #adadad40;
  --color-light-gray-op-70: #adadad40;
  --color-mate-gray: #c9c9c9;

  --font-quicksand: 'Quicksand', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-bebas-neue: 'Bebas Neue', sans-serif;

  --animate-fade-in: fade-in 0.2s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-move-in-right: move-in-right 0.2s ease-in-out forwards;
  @keyframes move-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  --animate-move-in-left: move-in-left 1s ease-in-out forwards;
  @keyframes move-in-left {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  --animate-move-in-bottom-300: move-in-bottom-300 0.3s ease-in-out forwards;
  @keyframes move-in-bottom-300 {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-move-in-bottom-700: move-in-bottom-700 0.7s ease-in-out forwards;
  @keyframes move-in-bottom-700 {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-return-to-bottom-700: return-to-bottom-700 0.7s ease-in-out forwards;
  @keyframes return-to-bottom-700 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  --animate-return-to-top-300: return-to-top-300 0.3s ease-in-out forwards;
  @keyframes return-to-top-300 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  --animate-return-to-top-700: return-to-top-700 0.7s ease-in-out forwards;
  @keyframes return-to-top-700 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  --animate-move-in-top-700: move-in-top-700 0.7s ease-in-out forwards;
  @keyframes move-in-top-700 {
    0% {
      opacity: 0;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
