@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-sky-blue: #03a9f4;
  --color-ocean-blue: #005a83;
  --color-stormy-blue: #3b7893;
  --color-ashen-purple: #7a78a7;
  --color-royal-purple: #4c44ce;
  --color-royal-blue: #332da9;
  --color-midnight-blue: #23205d;
  --color-dark-violet: #1e1a67;
  --color-navy-blue: #19243a;
  --color-navy-blue-2: #1f2c47;
  --color-shadow-blue: #141243;
  --color-galatic-blue: #1d1b39;
  --color-dark-burgundy: #100e35;
  --color-blue-black: #0a1123;

  --color-blood-red: #962325;
  --color-flame-red: #d34648;

  --color-ivory-white: #fffff0;
  --color-light-gray: #adadad;
  --color-mate-gray: #c9c9c9;

  --font-quicksand: 'Quicksand', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-bebas-neue: 'Bebas Neue', sans-serif;

  --animate-fade-in: fade-in 0.2s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-500: fade-in-500 0.5s ease-in-out;
  @keyframes fade-in-500 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-out-100: fade-out-100 0.1s ease-in-out forwards;
  @keyframes fade-out-100 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-fade-out-400: fade-out-400 0.4s ease-in-out forwards;
  @keyframes fade-out-400 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-move-in-right: move-in-right 0.2s ease-in-out forwards;
  @keyframes move-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  --animate-move-in-left: move-in-left 1s ease-in-out forwards;
  @keyframes move-in-left {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  --animate-move-in-bottom-300: move-in-bottom-300 0.3s ease-in-out forwards;
  @keyframes move-in-bottom-300 {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-move-in-bottom-30: move-in-bottom-300 0.3s ease-in-out forwards;
  @keyframes move-in-bottom-300 {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-move-in-bottom-d300-y30: move-in-bottom-d300-y30 0.3s ease-in-out
    forwards;
  @keyframes move-in-bottom-d300-y30 {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-move-in-bottom-700: move-in-bottom-700 0.7s ease-in-out forwards;
  @keyframes move-in-bottom-700 {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-return-to-bottom-700: return-to-bottom-700 0.7s ease-in-out forwards;
  @keyframes return-to-bottom-700 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  --animate-return-to-bottom-200: return-to-bottom-200 0.2s ease-in-out forwards;
  @keyframes return-to-bottom-200 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(70px);
    }
  }

  --animate-return-to-top-300: return-to-top-300 0.3s ease-in-out forwards;
  @keyframes return-to-top-300 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  --animate-return-to-top-30: return-to-top-300 0.3s ease-in-out forwards;
  @keyframes return-to-top-300 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-30px);
    }
  }

  --animate-return-to-top-d200-y50: return-to-top-d200-y50 0.3s ease-in-out
    forwards;
  @keyframes return-to-top-d200-y50 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  --animate-return-to-top-700: return-to-top-700 0.7s ease-in-out forwards;
  @keyframes return-to-top-700 {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }

  --animate-move-in-top-700: move-in-top-700 0.7s ease-in-out forwards;
  @keyframes move-in-top-700 {
    0% {
      opacity: 0;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-move-in-top-300: move-in-top-300 0.3s ease-in-out forwards;
  @keyframes move-in-top-300 {
    0% {
      opacity: 0;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  --animate-scale-in-300: scale-in-300 0.3s ease-in-out forwards;
  @keyframes scale-in-300 {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-scale-out-100: scale-out-100 0.1s ease-in-out forwards;
  @keyframes scale-out-100 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

  --animate-pulse: pulse 1.5s infinite ease-in-out;
  @keyframes pulse {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }

  --animate-increase-in-102: increase-in-102 0.3s ease-in-out forwards;
  @keyframes increase-in-102 {
    0% {
      transform: scale(100%);
    }
    100% {
      transform: scale(102%);
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    }
  }

  --animate-decrease-in-102: decrease-in-102 0.2s ease-in-out forwards;
  @keyframes decrease-in-102 {
    0% {
      transform: scale(102%);
    }
    100% {
      transform: scale(100%);
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #19243a80;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0a1123;
  border-radius: 10px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
